*.DS_Store
*.fits
.tox
.pytest_cache
*.FIT
*.fits
*.pyc
*.png

# But we do want to add our test data
!tests/test_data/*.fits
# And our documentation images
!docs/img/*.png

# Ignore the raw data
src/data/raw
src/data/processed
.snakemake